<h1 class="text-center my-4">Our Tutors</h1>

<div class="container index-container">
  <div class="row">
    <% @tutors.each do |tutor| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-info">

          <div class="image">
            <div class="verified">
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png" class="profile-img"/>
            <div class="rating">
              <% average = tutor.average_rating %>
              <% average.to_i.times do %>
                <span>🍎</span>
              <% end %>
              <% (5 - average.to_i).times do %>
                <span style="opacity: 0.3;">🍎</span>
              <% end %>
              <p class="mt-1"><%= "#{average} / 5.0" %></p>
            </div>
          </div>

          <div class="title">
            <%= link_to "#{tutor.user.first_name} #{tutor.user.last_name}", tutor_path(tutor), class: "tutor-link" %>
          </div>

          <div class="card-details">
            <p class="tutor-details"><i class="info-logo fa-solid fa-user-graduate"></i><%= "Education level: #{tutor.qualification}" %></p>
            <p class="tutor-details"><i class="info-logo fa-solid fa-key"></i><%= "Teaching level: #{tutor.key_stage}" %></p>
            <p class="tutor-details"><i class="info-logo fa-solid fa-sterling-sign"></i><%= "#{tutor.price}/ph" %></p>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
