<h1> Join the Mentor Programme</h1>

<p><%= "Hi #{user.first_name} #{user.last_name}" %></p>

<%= simple_form_for @tutor do |f| %>
  <%= f.input :user_id %>
  <%= f.input :price %>
  <%= f.input :qualification %>
  <%= f.input :key_stage %>
  <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end %>
