<h1>Become a tutor</h1>

<p><%= "Hi #{current_user.first_name} #{current_user.last_name}" %></p>

<%= simple_form_for @tutor do |f| %>
  <%= f.input :price %>
  <%= f.input :qualification %>
  <%= f.input :key_stage %>
  <%= f.input :subjects, as: :check_boxes, collection: Subject.all %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
