<div class="tutor-name">
  <h1><%= "#{@tutor.user.first_name}" "#{@tutor.user.last_name}" %></h1>
</div>

<div class="tutor-details">

  <p><%= "Highest Qualification Level: #{@tutor.qualification}" %></p>
  <p><%= "Teaches Keystage: #{@tutor.key_stage}" %></p>
  <p><%= "Email: #{@tutor.email}" %></p>
  <p><%= "Price: #{@tutor.price}" %></p>
  <p><%= "Subjects: #{@tutor.subject.name}" %></p>

</div>
