<h1 class="text-center my-4">Bookings for <%= @tutor.first_name %> <%= @tutor.last_name %></h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.day.strftime('%B %d, %Y') %></td>
        <td><%= booking.time.strftime('%I:%M %p') %></td>
        <td>
          <%= button_to booking_path(booking), method: :delete, class: "btn btn-danger" do %>
            <i class="fa-solid fa-trash"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to tutors_path, class: "btn btn-secondary" do %>
  <i class="fa-solid fa-arrow-left"></i> Back to Tutors
<% end %>
