<div class="nav">
  <%= link_to root_path do %>
    <%= image_tag "logo.svg", alt: "Rent-a-Mentor", class: "navbar-logo" %>
  <% end %>

  <div class="nav-right">
    <%= link_to "Become a tutor", new_tutor_path %>

    <%= link_to "Manage My Bookings", tutor_bookings_path(tutor_id: current_user&.id) %>



     <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-secondary" do %>
      <i class="fa-solid"></i> Log out
    <% end %>
    <i class="fa-solid fa-user" style="color: #006838; font-size: 24px;"></i>
  </div>
</div>
