<div class="nav">
  <!-- Logo and Home Link -->
  <%= link_to root_path do %>
    <%= image_tag "logo-2.png", alt: "Rent-a-Mentor", class: "navbar-logo" %>
  <% end %>

  <div class="nav-right">
    <%= link_to "View tutors", tutors_path, class: "btn btn-info" %>

    <%= link_to "Become a tutor", new_tutor_path, class: "nav-link" %>

    <%= link_to "Manage my bookings", bookings_path, class: "nav-link" %>

    <%= link_to "Favourites", favourites_path, class: "nav-link" %>

    <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-success" %>

  </div>
</div>

    <%# <i class="fa-solid fa-user" style="color: #006838; font-size: 16px;"></i> %>
